bing-image-downloader==1.1.2
diffusers==0.32.2
fasttext-wheel==0.9.2
natsort==8.4.0
pyaml==24.4.0
scipy==1.13.0
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
torch==2.3.0+cu118
torchvision==0.18.0+cu118
tqdm==4.66.2
transformers==4.40.1
